<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131122877728-10ol8keu2th7on6vtda6t8mpng926hev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131122877728-10ol8keu2th7on6vtda6t8mpng926hev</string>
	<key>API_KEY</key>
	<string>AIzaSyAhYXUHux5zDR0dUtEFI-QNIlNieGwrIDE</string>
	<key>GCM_SENDER_ID</key>
	<string>131122877728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisvanderloo.Crate.CrateFinderProvider</string>
	<key>PROJECT_ID</key>
	<string>crate-f84de</string>
	<key>STORAGE_BUCKET</key>
	<string>crate-f84de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131122877728:ios:e0ab1b6abf9fffb78c3345</string>
</dict>
</plist>